\!LangExternal.xslt  namespace=urn:geo-schemas-xml-frafv:culture,urn:schemas-xml-frafv:proxy,urn:geo-schemas-xml-frafv:proxy
\!LocExternal.xslt   namespace=urn:geo-schemas-xml-frafv:location,urn:geo-schemas-xml-frafv:culture,urn:geo-schemas-xml-frafv:proxy,urn:schemas-xml-frafv:proxy
External.xslt       namespace=urn:geo-schemas-xml-frafv:culture,urn:geo-schemas-xml-frafv:location,urn:schemas-xml-frafv:proxy
GeoExternal.xslt    namespace=urn:geo-schemas-xml-frafv:location,urn:geo-schemas-xml-frafv:culture,urn:schemas-xml-frafv:proxy
LangViewEn.xsl      namespace=urn:geo-schemas-xml-frafv:culture,urn:geo-schemas-xml-frafv:proxy,urn:schemas-xml-frafv:proxy
LangViewRu.xsl      namespace=urn:geo-schemas-xml-frafv:culture
LocEn.xsl           namespace=urn:geo-schemas-xml-frafv:location,urn:geo-schemas-xml-frafv:proxy,urn:schemas-xml-frafv:proxy
LocRu.xsl           namespace=urn:geo-schemas-xml-frafv:location
View.xsl            namespace=urn:schemas-xml-frafv:proxy
Web.xsl             namespace=urn:schemas-xml-frafv:proxy
