*.xml  mime-type=application/msword
Culture.xml   namespace=urn:geo-schemas-xml-frafv:culture
GeoProxy.xml  namespace=urn:geo-schemas-xml-frafv:proxy,urn:schemas-xml-frafv:proxy
HR.xml        namespace=urn:schemas-xml-frafv:hr,urn:schemas-xml-frafv:sharer
Location.xml  namespace=urn:geo-schemas-xml-frafv:location
Proxy.xml     namespace=urn:schemas-xml-frafv:proxy
